<html ng-app="cadastroCorrespondente">
	<head>
		<!--frameworks -->
		<script src="../../Gerals/scripts/jquery-2.1.4.min.js"></script>
		<script src="../../Gerals/scripts/angular.min.js"></script>

		<!--javascripts -->
		<script src="scripts/index.js"></script>

		<!--CSS -->
		<link rel="stylesheet" type="text/css" href="../../Gerals/Css/bootstrap/css/bootstrap.min.css" />

	</head>
	<body>

		<div ng-controller="usuarioController as usuario">

			<div ng-repeat="u in usuario.users">
				nome: {{u.name}}
			</div>
		</div>

		<form id='formulario' class="form-group" ng-controller="cadastroController as cadastro">
			<div id='divEmail'>
				email: <input type="text" id="txtEmail" class="form-control">
				<button id="btnChecaEmail" type="button" class="btn btn-default" ng-click="mudaStatus()">Checar</button>
			</div>
			<div id="divCadastro" ng-show="cadastro.cad.existe">
				nome: <input type="text" id="txtNome" class="form-control">
				
				<div ng-controller="escolaridadeController" class="form-group">
	        		Escolaridade: <select ng-model="ddlEscolaridade" ng-options="education.name for education in Education track by education.id">
	        		</select>
	    		</div>
				<button id="btnForm" type="button" class="btn btn-default">Salvar</button>
			</div>
		</form>
	</body>
</html>