<html ng-app="cadastroCorrespondente">
	<head>
		<!--frameworks -->
		<script src="../../Gerals/scripts/jquery-2.1.4.min.js"></script>
		<script src="../../Gerals/scripts/select2.min.js"></script>
		<script src="../../Gerals/scripts/angular.min.js"></script>
		

		<!--javascripts -->
		<script src="scripts/index.js"></script>


		<!--CSS -->
		<link rel="stylesheet" type="text/css" href="../../Gerals/Css/bootstrap/css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="../../Gerals/Css/select2.css" />

	</head>
	<body ng-controller="cadastroController as cadastro">

		<!--<div ng-controller="usuarioController as usuario">

			<div ng-repeat="u in usuario.users">
				nome: {{u.name}}
			</div>
		</div> -->

		<form id='formularioEmail' name='formularioEmail' class="form-group">
			<!--email -->
			<div class="form-group" ng-class="{ 'has-error' : formulario.email.$invalid && !formulario.email.$pristine }">
				<label>Email: </label>
				<input type="email" id="txtEmail" name='txtEmail' class="form-control" ng-model='txtEmail' required>
				<p ng-show="formularioEmail.txtEmail.$invalid  && !formularioEmail.txtEmail.$pristine" class="help-block">Entre com o seu email.</p>
			</div>
			<button id="btnChecaEmail" type="button" class="btn btn-default" ng-click="mudaStatus()"
				ng-disabled="!formularioEmail.txtEmail.$valid">Continuar</button>

		</form>


		<form id='formCompleto' ng-show="!cadastro.cad.existe" name='formCompleto'>
			<!--cpf -->
			<div class="form-group">
				<label >CPF:</label>
				<input type="text" id="txtCpf" class="form-control" name='txtCpf' ng-model='txtCpf' required>
				<p ng-show="formCompleto.txtCpf.$invalid  && !formCompleto.txtNome.$pristine" class="help-block">Informe seu CPF</p>
			</div>
			<!--nome -->
			<div class="form-group">
				<label >Nome completo:</label>
				<input type="text" id="txtNome" class="form-control" name='txtNome' ng-model='txtNome' required>
				<p ng-show="formCompleto.txtNome.$invalid  && !formCompleto.txtNome.$pristine" class="help-block">Informe seu nome</p>
			</div>

			<!--Data nascimento -->
			<div class="form-group">
				<label >Data nascimento:</label>
				<input type="text" id="txtNascimento" class="form-control" name='txtNascimento' ng-model='txtNascimento' required>
				<p ng-show="formCompleto.txtNascimento.$invalid  && !formCompleto.txtNascimento.$pristine" class="help-block">Informe sua data de nascimento</p>
			</div>

			<!-- escolaridade -->
			<div class="form-group" >
		        <label >Formacao:</label>
		        <select  ng-init="populaEducacao()" ng-model="ddlEscolaridade" ng-options="educacao.st_education for educacao in education track by educacao.id_education" name="ddlEscolaridade">
		        </select>
		        <p ng-show="formCompleto.ddlEscolaridade.$invalid  && !formCompleto.ddlEscolaridade.$pristine" class="help-block">Selecione sua formacao</p>
		    </div>


		    <!-- Cidades Atuacao -->
		    <label >Cidades Atuacao:</label>
			<div class="form-group" >
		        <label >Estado:</label>
		        <select  ng-init="populaEstados()" ng-model="ddlEstados" ng-options="estado.st_estado for estado in estados track by estado.id_estado" ng-change="populaCidades()" name="ddlEstados" class="form-control">
		        </select>
		        <label >Cidade:</label>
		        <select  ng-model="ddlCidade" ng-options="cidade.st_cidade for cidade in cidades track by cidade.id_cidade"  name="ddlCidade" ng-change="populaCidadesEscolhidas()" class="form-control">
		        </select>
		        <div class="form-group">
			        <button ng-repeat="c in cidadesEscolhidas" id="{{c.id_cidade}}" ng-click="excluiCidade(c.id_cidade)"  class="btn btn-primary"> 
			        	{{c.st_cidade}}
			        </button>	
		        </div>
		    </div>

		    <!-- Telefones-->
		    <label >telefones:</label>
			<div class="form-group" >
		        <label >Numero:</label>
		        <input type="number"  ng-model="txtTelefone" class="form-control">
		        <label >Tipo:</label>
		        <select ng-init="populaTipoTelefone()" ng-model="ddlTipoTelefone" ng-options="tt.st_telefone_tipo for tt in tipoTelefone track by tt.id_telefone_tipo"  name="ddlTipoTelefone"  class="form-control">
		        </select>
		        <button class="btn btn-primary" ng-click="populaTelefones()"> Adicionar </button>
		        <div class="form-group">
			        <div ng-repeat="t in listaTelefones" id="{{t.txtTelefone}}" > 
			        	{{t.txtTelefone}} <button id="{{t.txtTelefone}}" class="btn btn-primary" ng-click="excluiTelefone(t.txtTelefone)">remover</button>
			        </div>	
		        </div>
		    </div>

		    <!-- OAB -->
		    <div class=" form-group">
		    	Possui OAB? <input id="chkOAB" type="checkbox" ng-model="chkOAB">
		    	<div id="divOAB" ng-show="chkOAB">
		    		<label>OAB</label>
		    		<input type="text" id="txtOAB" class="form-control" name='txtOAB' ng-model='txtOAB'>
		    		<label >Estado:</label>
			        <select  ng-init="populaEstados()" ng-model="ddlEstadosOAB" ng-options="estado.st_state for estado in estados track by estado.id_State"  class="form-control">
			        </select>
		    	</div>
		    </div>
		    
		    <!-- Areas -->


			<button id="btnForm" type="button" class="btn btn-default" ng-click="salvaCorrespondente()"ng-disabled="formCompleto.$invalid">Salvar</button>
		</form>
	</body>
</html>